@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
}


.header {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #023047;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header img {
    max-height: 45px;
}

.header__mobile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    cursor: pointer;
    transition: 0.4s transform linear;
}

.header__mobile:hover {
    transform: rotate(10deg);
}

.header__mobile svg {
    width: 20px;
    height: 20px;
    stroke: #fff;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1;
}

.mobile-overlay.active {
    display: block;
}

.nav-mobile {
    position: fixed;
    top: 0;
    z-index: 2;
    right: 0;
    width: 280px;
    height: calc(100vh - 60px);
    background-color: #1f2937;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: 0.4s transform cubic-bezier(.43, .73, 0, .98);
    overflow-x: hidden;
}

.nav-mobile.active {
    transform: initial;
}


.nav-mobile__profil {
    text-align: center;
    border-bottom: 1px solid #4b5563;
    padding-bottom: 16px;
}

.nav-mobile__profil img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-mobile__profil .name {
    color: #d1d5db;
    font-size: 18px;
    font-family: 'Oswald';
    display: block;
    margin: 6px 0px;
}

.nav-mobile__profil .actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}

.nav-mobile__profil .actions a {
    color: #fff;
    text-decoration: none;
    font-family: 'Arial';
    font-size: 13px;
    position: relative;
}

.nav-mobile__profil .actions a:after {
    content: '';
    height: 1px;
    width: 0px;
    background-color: #fff;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: 0.3s width ease-in-out;
}

.nav-mobile__profil .actions a:hover:after {
    width: 100%;
    left: 0;
}


.nav-mobile__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 32px;
    margin-bottom: 32px;
}


.nav-mobile__menu li {
    margin-bottom: 24px;
}


.nav-mobile__menu li:last-of-type {
    margin-bottom: initial;
}

.nav-mobile__menu li a {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 20px;
    position: relative;

}


.nav-mobile__menu li a:after {
    content: '';
    height: 1px;
    width: 0px;
    background-color: #fff;
    position: absolute;
    bottom: -6px;
    right: 0;
    transition: 0.3s width ease-in-out;
}

.nav-mobile__menu li a:hover:after {
    width: 100%;
    left: 0;
}



.nav-mobile__menu li a svg {
    stroke: #fff;
    width: 18px;
    height: 18px;
    margin-right: 16px;
}

.nav-mobile__social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-mobile__social li {
    margin: 0px 4px;
}

.nav-mobile__social li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
    font-family: 'Arial';
    transition: 0.3s opacity ease-in;
}

.nav-mobile__social li a:hover {
    opacity: 1;
}

.nav-mobile__close {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    cursor: pointer;
    transition: 0.4s transform linear;
    position: absolute;
    z-index: 4;
    top: 15px;
    right: 15px;
}

.nav-mobile__close:hover {
    transform: rotate(10deg);
}

.nav-mobile__close svg {
    width: 20px;
    height: 20px;
    stroke: #fff;
}


.nav-mobile__return {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;
    cursor: pointer;
    transition: 0.4s transform linear;
    position: absolute;
    z-index: 4;
    top: 15px;
    left: 15px;
}

.nav-mobile__return:hover {
    transform: rotate(10deg);
}

.nav-mobile__return svg {
    width: 20px;
    height: 20px;
    stroke: #fff;
}





/* TABS */

.tabs {
    display: inline-flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #d1d5db;
    padding-bottom: 12px;
}

.tabs li {
    margin-right: 24px;

}

.tabs li a {
    margin-right: 24px;
    font-size: 16px;
    font-family: 'Arial';
    color: #18181b;
    text-decoration: none;
    position: relative;
}

.tabs li a:after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: #c2410c;
    position: absolute;
    bottom: -15px;
    right: 0;
    transition: 0.3s width ease-in-out;
}

.tabs li a:hover:after,
.tabs li a.active:after {
    width: 100%;
    left: 0;
}

.tabs li:last-of-type {
    margin-right: 0;
}

.tabs-content__tab {
    display: none;
}

.tabs-content__tab.active {
    display: block;
}





























#footer {
    position: absolute;
    top: 360px;
    left: 0;
    width: 361px;
    height: 99px;
    border-top: 1px solid #707070;
}

#menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 99px;
    background-color: #ffffff;
    border-right: 1px solid #707070;
    z-index: 200;
    overflow: hidden;
}

#menu_lines div {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 7px;
    background-color: #707070;
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.35s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

#menu.active #menu1 {
    top: 22px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

#menu.active #menu2 {
    opacity: 0;
    -webkit-transition: opacity 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: opacity 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

#menu.active #menu3 {
    top: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

#options {
    position: absolute;
    top: 0;
    left: 61px;
    width: 299px;
    height: 99px;
}

#options_title {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-top: 8px;
}

#options_div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 34px;
    left: 0;
    width: 299px;
    height: 65px;
    overflow-y: hidden;
}


#menu_list {
    position: absolute;
    bottom: 10px;
    left: 70px;
    width: 250px;
    height: auto;
    text-align: center;
}

.btn {
    padding: 8px;
    font-weight: bold;
    margin-bottom: 7px;
}

#menu_list div {
    width: 100%;
    cursor: pointer;
    padding: 7px 0 7px 0;
    font-size: 19px;
    font-weight: bold;
    color: #707070;
}


.validation h1,
p,
h4 {
    text-align: center;
}

.validation form button {
    text-align: center;
    color: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
    background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.625rem;
    order: 4;
    outline: 1px dashed transparent;
    outline-offset: 2px;
    padding-left: 0;
    text-transform: uppercase;
}

/* --------------------------------  */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 70vw;
    font-size: 10vw;
    margin: 30px auto;
    text-align: right;
    line-height: 40px;
    background: linear-gradient(180deg, rgba(255,252,245,0) 27%, rgba(255,224,94,1) 27%, rgba(255,224,94,1) 77%, rgba(255,255,255,0) 77%);
}

h1 span {
    font-size: 7vw;
    font-weight: 200;
    margin-right: 20vw;
}

#avatar_accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px;
    width: 90vw;
    margin: 0 auto;
}

#accueil img {
    width: 40vw;
}

#noms {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
}

#accueil input {
    background-color: #e7e7e7;
    border: none;
    padding: 5px;
}

#accueil label {
    margin: 10px 0;
}

#noms input {
    width: 40vw;
}

#email {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
}

#email input {
    width: 88vw;
}

#accueil h2 {
    margin: 25px 0 10px 5vw;
    font-size: 6vw;
    font-weight: 700;
}

form {
    font-size: 4vw;
}

.account {
    font-size: 4vw;
    text-align: center;
    color: #EE6C4D;
}

#valid {
    margin: 10px 0;
    background-color: #023047 !important;
    color: #FFE05E;
    font-weight: 600;
}

#avatar_editor h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 81vw;
    font-size: 9vw;
    margin: 30px auto;
    text-align: right;
    line-height: 30px;
    background: linear-gradient(180deg, rgba(255,252,245,0) 27%, rgba(255,224,94,1) 27%, rgba(255,224,94,1) 77%, rgba(255,255,255,0) 77%);
}

.parcours {
    width: 90%;
    margin: 0 auto;
}

.code_parcours h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 80vw;
    font-size: 7.5vw;
    margin: 30px auto;
    text-align: right;
    line-height: 40px;
    background: linear-gradient(180deg, rgba(255,252,245,0) 27%, rgba(255,224,94,1) 27%, rgba(255,224,94,1) 77%, rgba(255,255,255,0) 77%);
}

.code_parcours h1 span {
    font-size: 6vw;
    font-weight: 200;
    margin-right: 42vw;
}

.parcours_titre {
    display: flex;
    flex-direction: column;

}

.parcours_titre h1 {
    width: 100%;
    margin: 35px 0 0 0;
    padding: 20px 0 0 20px;
    text-align: left;
}

.parcours_titre h2 {
    background: linear-gradient(180deg, rgba(255,252,245,0) 22%, rgba(238,108,77,1) 22%, rgba(238,108,77,1) 70%, rgba(255,255,255,0) 70%);
    text-align: right;
    width: 100%;
    padding: 10px 20px 0 0;
}

.parcours h3 {
    background-color: #023047;
    color: #FFE05E;
    padding: 20px 15px;
    width: 70%;
    font-size: initial;
    margin-top: 35px;
}

.parcours article {
    margin: 0 30px;
}

.parcours h4 {
    margin: 10px 0 10px 0;
    background-color: #FFE05E;
    padding: 10px;
    text-align: left;
    font-size: smaller;
    width: fit-content;
    width: -moz-fit-content;
}

.parcours p {
    text-align: left;
}

.rules {
    display: flex;
    justify-content: space-between;
}

.rules img {
    width: 90%;
}

.point1 {
    border: solid #023047;
}

.point2 {
    border: solid #EE6C4D;
}

.point3 {
    border: solid #FFE05E;
}

.points {
    display: flex;
    flex-direction: column;
    align-items: center;
}